.App-header {
    display: flex;
    justify-content: space-between;
    --txt-color: #FF6060;
    padding: 0px 80px 0px 50px;
}

.App-header img {
    height: 120px;
    width: auto;
}

.Nav-list {
    position: relative;
    display: flex;
    margin-top: 50px;
    right: 0.3%;
    list-style: none;
}

.Nav-list li {
    margin-left: 3vw;
}

.Nav-list li a {
    color: var(--txt-color)
}

.Nav-list li a:hover {
    text-decoration: underline;
}