/* Background */

.Gallery {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 6.50%;
    right: 8%;
    top: 440px;
    /* bottom: 50%; */
    padding-left: 4.03%;
    padding-right: 4.03%;
    height: auto;
    width: auto;
    /* bottom: 0%; */
    background: #F7F7F7;
    border-radius: 25px;
}