.About {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dropdown-items {
    position: absolute;
    height: 30%;
    width: 100%;
    top: -50px;
}

@media screen and (max-width: 698px) {
    .dropdown-items {
        position: absolute;
        height: 100%;
        top: -150px;
        width: 100%;
    }
}