.About {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    min-height: 100vh;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    height: 30%;
    padding: 0 180px 0 180px;
    margin-bottom: 40px;
}