.About {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.dropdown-items {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 30%;
    width: 100%;
    margin-bottom: 40px;
}

@media screen and (max-width: 698px) {
    .dropdown-items {
        /* position: relative; */
        top: 0px;
        height: 100%;
        width: 100%;
    }
}