.phot-containerCarrousel {
    position: absolute;
    /* width: 1240px; */
    display: flex;
    right: 8%;
    height: 360px;
    left: 6.50%;
    top: 171px;
    background: #F7F7F7;
    border-radius: 25px;
    background-color: var(--txt-color);
    background-size: cover;
    overflow: hidden;
}

.arrow-Container {
    position: relative;
    right: 8%;
    left: 6.50%;
    top: 171px;
    width: 85.5vw;
    height: auto;
    z-index: 100;
}

.arrow-Container button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 100px;
}


/* .fa-chevron-left {
    font-style: italic;
} */

.arrow-Container button:active {
    color: gray;
}

.button-right {
    position: absolute;
    right: 0px;
}

.photo-Carrousel {
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

.buttonNone {
    display: none;
}

@media screen and (max-width: 870px) {
    .SectionTxt {
        top: 240px;
        font-size: 28px;
    }
}

@media screen and (max-width: 697px) {
    .phot-container {
        height: 200px;
        top: 90px;
    }
    .SectionFilter {
        height: 200px;
        top: 90px;
    }
    .SectionTxt {
        top: 160px;
        font-size: 23px;
    }
}