.phot-containerCarrousel {
    /* position: absolute;
    top: 171px;
    right: 8%;
    left: 6.50%; */
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    height: 360px;
    background: #F7F7F7;
    border-radius: 25px;
    background-color: var(--txt-color);
    background-size: cover;
    overflow: hidden;
}

.arrow-Container {
    position: absolute;
    top: 245px;
    width: 88vw;
    height: auto;
    z-index: 100;
}

.ContainerButton {
    display: flex;
    justify-content: space-between;
}

.arrow-Container button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 100px;
}

.arrow-Container button:active {
    color: gray;
}

.button-right {
    /* position: absolute; */
    right: -20px;
}

.photo-Carrousel {
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

.buttonNone {
    display: none;
}

.compteurPhoto {
    position: relative;
    left: 50%;
    right: 50%;
    bottom: -60px;
    color: white;
    font-size: 22px;
}

@media screen and (max-width: 870px) {
    .SectionTxt {
        top: 240px;
        font-size: 28px;
    }
    .arrow-Container button {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-size: 60px;
    }
    .compteurPhoto {
        position: relative;
        left: 50%;
        right: 50%;
        bottom: -115px;
        color: white;
        font-size: 22px;
    }
}

@media screen and (max-width: 697px) {
    .phot-container {
        height: 200px;
        top: 90px;
    }
    .SectionFilter {
        height: 200px;
        top: 90px;
    }
    .SectionTxt {
        top: 160px;
        font-size: 23px;
    }
    .compteurPhoto {
        display: none;
    }
}