.dropdown-Container {
    position: relative;
    /* z-index: 6; */
    width: 70vw;
    top: 40vh;
    left: 14.5%;
    /* right: 25%; */
}

.dropdown-head {
    display: flex;
    /* justify-content: space-evenly; */
    width: auto;
    height: 50px;
    background-color: var(--txt-color);
    border-radius: 5px;
    z-index: 5;
}

.dropdown-title {
    position: relative;
    top: -8px;
    left: 20px;
    color: white;
}

.dropdown-arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 30px;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.up {
    transform: rotate(0.5turn);
}


/* .down {
    transform: rotate(0.5turn);
} */

.dropdown-body {
    width: auto;
    background: #F7F7F7;
    padding-top: 2px;
    padding-left: 10px;
    /* padding-right: 10px; */
    padding-bottom: 2px;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-body p {
    color: var(--txt-color);
}

.openBody {
    height: auto;
    animation-duration: 0.2s;
    animation-name: openbody;
}

.closeBody {
    height: 0px;
    animation-duration: 0.2s;
    animation-name: closebody;
}

.closeBody p {
    display: none;
}

@keyframes openbody {
    from {
        height: 0px;
    }
    75% {
        height: 70px;
    }
    100% {
        height: auto;
    }
}

@keyframes closebody {
    from {
        height: auto;
    }
    25% {
        height: 3px;
    }
    100% {
        height: 0px;
    }
}