.classWidth {
    width: 70vw;
}

.dropdown-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 50px;
    background-color: var(--txt-color);
    border-radius: 5px;
    z-index: 5;
}

.dropdown-title {
    position: relative;
    top: -8px;
    left: 20px;
    color: white;
}

.dropdownMain-arrow {
    position: relative;
    top: 3px;
    right: 10px;
    color: white;
    font-size: 30px;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.up {
    transform: rotate(0.5turn);
    transition-duration: 300ms;
}

.down {
    transform: rotate(0turn);
    transition-duration: 300ms;
}

.dropdown-body {
    width: auto;
    background: #F7F7F7;
    padding-top: 2px;
    padding-left: 10px;
    /* padding-right: 10px; */
    padding-bottom: 2px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}

.dropdown-body p {
    color: var(--txt-color);
}

.openBody {
    height: auto;
    animation-duration: 0.3s;
    animation-name: openbody;
}

.openBody ul {
    margin-left: -30px;
}

.openBody p {
    margin-left: 10px;
    margin-right: 20px;
}

.closeBody {
    height: 0px;
    animation-duration: 0.2s;
    animation-name: closebody;
}

.closeBody p {
    display: none;
}

.closeBody li {
    display: none;
}

@keyframes openbody {
    from {
        height: 0px;
        opacity: 0%;
    }
    100% {
        height: auto;
        opacity: 100%;
    }
}

@keyframes closebody {
    from {
        height: auto;
    }
    25% {
        height: 3px;
    }
    100% {
        height: 0px;
    }
}

@media screen and (max-width: 740px) {
    .dropdown-title {
        top: 2px;
        font-size: 15px;
    }
    .dropdownMain-arrow {
        right: 4px;
        font-size: 20px;
    }
    .drop-container {
        display: flex;
        flex-direction: column;
    }
    .classWidth {
        width: 90vw;
    }
}

@media screen and (max-width: 495px) {
    .dropdown-title {
        top: 9px;
        font-size: 11px;
    }
    .dropdownMain-arrow {
        right: 2px;
        font-size: 15px;
        top: 0px;
    }
}

@media screen and (max-width: 370px) {
    .classWidth {
        width: 88vw;
    }
}