.Container-msgError {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    color: var(--txt-color);
}

.err {
    margin-top: 5%;
    font-size: 300px;
    color: var(--txt-color);
    font-weight: bold;
}

.excuse {
    /* position: absolute; */
    margin-top: -200px;
    font-size: 40px;
    color: var(--txt-color);
}

.link-home a {
    display: block;
    margin-top: 35%;
    color: var(--txt-color);
    text-decoration: underline;
    font-size: 20px;
}

.link-home a:hover {
    opacity: 70%;
}

@media screen and (max-height: 900px) {
    .err {
        font-size: 200px;
    }
    .excuse {
        margin-top: -200px;
        font-size: 28px;
    }
}

@media screen and (max-height: 600px) {
    .err {
        font-size: 100px;
        margin-top: 5%;
    }
    .excuse {
        margin-top: -80px;
        font-size: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .err {
        font-size: 100px;
    }
    .excuse {
        margin-top: -80px;
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    .err {
        font-size: 100px;
        margin-top: 5%;
    }
    .excuse {
        display: block;
        text-align: center;
        margin-top: -8%;
        font-size: 20px;
    }
    .link-home a {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .err {
        font-size: 100px;
        margin-top: 35%;
        margin-top: 5%;
    }
    .excuse {
        margin-top: -23%;
    }
}