.Footer {
    position: absolute;
    bottom: -150px;
    height: 150px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 5;
}

.Logo {
    color: white;
    font-size: 40px;
}

.c {
    color: white;
}

.LogoHouse {
    width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 2px;
}