.Footer {
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.Logo {
    color: white;
    font-size: 40px;
}

.c {
    color: white;
}