/* Background */

.Gallery {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 6.50%;
    right: 8%;
    top: 440px;
    padding-left: 4.03%;
    padding-right: 4.03%;
    height: auto;
    width: auto;
    background: #F7F7F7;
    border-radius: 25px;
}

@media screen and (max-width: 697px) {
    .Gallery {
        /* flex-direction: column; */
        justify-content: center;
        top: 320px;
    }
}