.App-header {
    display: flex;
    justify-content: space-between;
    --txt-color: #FF6060;
    padding: 0px 80px 0px 50px;
    z-index: 100;
}

.App-header img {
    height: 120px;
    width: auto;
}

.Nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    right: 0.3%;
}

.Nav-list li {
    margin-left: 3vw;
    color: var(--txt-color);
    list-style: none;
}

.Nav-list li a {
    color: var(--txt-color)
}

.Nav-list li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 697px) {
    .App-header img {
        height: 90px;
        margin-left: -30px;
    }
    .Nav-list {
        margin-top: 45px;
    }
    .Nav-list li {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 516px) {
    .App-header img {
        height: 80px;
        margin-left: -30px;
    }
    .Nav-list {
        position: absolute;
        margin-top: 37px;
        margin-right: 30px;
    }
    .Nav-list li {
        margin-left: 0vw;
        margin-right: 3vw;
        /* font-size: 12px; */
    }
}

@media screen and (max-width: 385px) {
    .App-header img {
        height: 50px;
        margin-left: -30px;
        margin-top: 18px;
    }
}