.Section {
    position: relative;
    width: 100%;
    text-align: center;
}

.phot-container {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    height: 223px;
    background: #F7F7F7;
    border-radius: 25px;
    background-color: var(--txt-color);
    background-size: cover;
}

.SectionFilter {
    width: 100%;
    top: -121px;
    height: 223px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 1;
}

.SectionTxtHome {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -140px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
}

@media screen and (max-width: 870px) {
    .SectionTxtHome {
        top: -140px;
        font-size: 28px;
    }
}

@media screen and (max-width: 740px) {
    .phot-container {
        height: 200px;
        top: 90px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .SectionFilter {
        height: 200px;
        top: 90px;
    }
    .SectionTxtHome {
        top: -120px;
        font-size: 28px;
    }
}

@media screen and (max-width: 495px) {
    .SectionTxtHome {
        display: flex;
        top: -150px;
        font-size: 28px;
        text-align: start;
        margin-left: 20px;
        width: 70%;
    }
    .phot-container {
        height: 150px;
        top: 90px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .SectionFilter {
        height: 150px;
        top: 90px;
    }
}