.tag-container {
    display: flex;
    justify-content: center;
    width: 90px;
    padding: 3px 15px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: #FF6060;
    align-content: center;
    align-items: center;
    text-align: center;
}

.tag-name {
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .tag-name {
        font-size: 10px;
    }
}