.Thumb {
    display: flex;
    margin-top: 6.76%;
    margin-bottom: 52.23%;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-size: cover;
}

.Thumb:hover {
    opacity: 80%;
}

.thumb-title {
    position: relative;
    display: block;
    top: 80%;
    left: 5%;
    width: 180px;
    color: white;
    z-index: 5;
}

.Thumb-filter {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 350px;
    height: 350px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

@media screen and (max-width: 1370px) {
    .Thumb {
        width: 270px;
        height: 270px;
    }
    .Thumb-filter {
        width: 270px;
        height: 270px;
    }
    .thumb-title {
        top: 75%;
    }
}

@media screen and (max-width: 740px) {
    .Thumb {
        width: 100%;
        height: 270px;
        margin-top: 20px;
    }
    .Thumb-filter {
        width: 100%;
        height: 270px;
    }
    .thumb-title {
        top: 75%;
    }
}