.phot-container {
    position: absolute;
    right: 8%;
    /* width: 1240px; */
    height: 223px;
    left: 6.50%;
    top: 171px;
    background-color: gray;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
}