.Thumb {
    margin-left: 4.03%;
    margin-right: 5%;
    margin-top: 6.76%;
    margin-bottom: 52.23%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background-color: brown;
    border-radius: 10px;
}

.thumb-title {
    position: relative;
    display: block;
    top: 80%;
    left: 5%;
    width: 100px;
    color: white;
}